html {
  background: #042F4A;
}

@font-face {
  font-family: "Visby";
  src: url("/public/visby/VisbyCF-Regular.otf") format("truetype");
}

@font-face {
  font-family: "VisbyB";
  src: url("/public/visby/VisbyCF-Bold.otf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Visby','Roboto', Helvetica, Arial, sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3, h4 {
  font-family: "visbyB";
}

/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 9999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 10px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 620px;
  max-width: 920px;
  outline: none;
  padding: 15px;
}

/* FABS */
.fab {
  border-radius: 100%;
  bottom: 30px;
  font-size: 20px;
  padding: 20px;
  position: fixed;
  right: 30px;
}

.btn-cuadrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  border: none;
}

/* Radius Select */
.css-1s2u09g-control {
  border-radius: 20px !important;
  padding: 0 4px 0 4px !important;
  border: 1px solid #042F4A !important;
}

.css-1insrsq-control {
  border-radius: 20px !important;
  padding: 0 4px 0 4px !important;
  border: 1px solid #042F4A !important;
}

.ccs-1pahdxg-control:hover {
  border-radius: 20px !important;
}

/* Cambios para los btn */
.btn {
  min-width: 100px;
  border-radius: 20px;
  text-transform: none!important;
}

/* Correcion botones para las tablas */
.btn.btn-tablas {
  min-width: 0;
}

.btn.btn-entorno {
  min-width: 150px;
}

.btn-image {
  border: none!important;
}

/* Linea para los titulo de los modales */
.hr-modal {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(45deg, #6db227, #36a9e0);
}

.aspect-ratio {
  width: 100% !important;
  object-fit: cover !important; /* Recorta la imagen sin deformarla */
  object-position: center !important;
}

.cursor-click {
  cursor: pointer;
}

input[type="password"] {
  font-family: sans-serif;
}

label {
  font-weight: 600 !important;
}

/* Cambio fuente para titulos de las tablas */

.ag-theme-alpine .ag-header-cell-label {
  font-family: "visby";
}

.ag-cell {
  font-family: "visby";
}